.photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.photo:hover img {
  transform: scale(1.1);
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  flex-direction:column;
}

.photo:hover .button-container {
  opacity: 1;
}

.button-container button {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #ff4d4d;
  color: #fff;
}

.updateButton{
  display: inline-flex;
}

.updateInput{
  display: inline-flex;
}

input{
  width: 140px;
}